# Dataset Overview

In [ ]:
import pandas as pd
df = pd.read_csv('public.csv')
df

      CustomerId   Surname  ...  EstimatedSalary Exited
0       15565701     Ferri  ...         90212.38      0
1       15565706  Akobundu  ...         83256.26      1
2       15565796  Docherty  ...         74510.65      0
3       15565806    Toosey  ...         30583.95      0
4       15565878     Bates  ...        197963.46      0
...          ...       ...  ...              ...    ...
7995    15815628    Moysey  ...         80215.20      0
7996    15815645    Akhtar  ...        175082.20      0
7997    15815656   Hopkins  ...        199808.10      1
7998    15815660     Mazzi  ...         60728.89      0
7999    15815690  Akabueze  ...         77789.01      0

[8000 rows x 13 columns]

# Use Pyspark to view dataset

In [ ]:
# These part is  for windows version, if you use ubuntu, remember to edit import pyspark part
# ----
#import findspark
#findspark.init()
#findspark.find()
import pyspark
#findspark.find()
# ----
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Churn_Modelling").getOrCreate()
df = spark.read.csv('public.csv',header=True,inferSchema=True)
df.printSchema()

root
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- HasCrCard: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

# Do your work here

In [ ]:
from pyspark.ml.feature import VectorAssembler, MinMaxScaler
from pyspark.ml.classification import LogisticRegression

In [ ]:
#把很多feature集合成一個vector
df_feature = VectorAssembler(inputCols=['CreditScore','Age','Tenure','Balance',
'NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary'],outputCol='Features')
df_feature= df_feature.transform(df)
df_feature.show()

+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+--------------------+
|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|            Features|
+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+--------------------+
|  15565701|   Ferri|        698|    Spain|Female| 39|     9|161993.89|            1|        0|             0|       90212.38|     0|[698.0,39.0,9.0,1...|
|  15565706|Akobundu|        612|    Spain|  Male| 35|     1|      0.0|            1|        1|             1|       83256.26|     1|[612.0,35.0,1.0,0...|
|  15565796|Docherty|        745|  Germany|  Male| 48|    10| 96048.55|            1|        1|             0|       74510.65|     0|[745.0,48.0,10.0,...|
|  15565806|  Toosey|        532|   France|  Male| 38|     9|      0.0|            2|        0|             0|       30583.95|     0|[532.0,38.0,9.0,0...|
|  15565878|   Bates|        631|    Spain|  Male| 29|     3|      0.0|            2|        1|             1|      197963.46|     0|[631.0,29.0,3.0,0...|
|  15565879|   Riley|        845|   France|Female| 28|     9|      0.0|            2|        1|             1|       56185.98|     0|[845.0,28.0,9.0,0...|
|  15565996|  Arnold|        653|   France|  Male| 44|     8|      0.0|            2|        1|             1|      154639.72|     0|[653.0,44.0,8.0,0...|
|  15566030|      Tu|        497|  Germany|  Male| 41|     5| 80542.81|            1|        0|             0|       88729.22|     1|[497.0,41.0,5.0,8...|
|  15566091| Thomsen|        545|    Spain|Female| 32|     4|      0.0|            1|        1|             0|        94739.2|     0|[545.0,32.0,4.0,0...|
|  15566111|   Estes|        596|   France|  Male| 39|     9|      0.0|            1|        1|             0|       48963.59|     0|[596.0,39.0,9.0,0...|
|  15566139|   Ts'ui|        526|   France|Female| 37|     5| 53573.18|            1|        1|             0|       62830.97|     0|[526.0,37.0,5.0,5...|
|  15566251| Ferrari|        618|   France|Female| 37|     5| 96652.86|            1|        1|             0|        98686.4|     1|[618.0,37.0,5.0,9...|
|  15566253| Manning|        580|  Germany|  Male| 44|     9|143391.07|            1|        0|             0|      146891.07|     1|[580.0,44.0,9.0,1...|
|  15566269|Chialuka|        787|   France|  Male| 25|     5|      0.0|            2|        1|             0|        47307.9|     0|[787.0,25.0,5.0,0...|
|  15566295| Sanders|        761|   France|Female| 33|     6|138053.79|            2|        1|             0|      148779.41|     0|[761.0,33.0,6.0,1...|
|  15566312|   Jolly|        660|    Spain|Female| 42|     5|      0.0|            3|        1|             1|      189016.24|     1|[660.0,42.0,5.0,0...|
|  15566378| Tillman|        515|   France|  Male| 48|     5|129387.94|            1|        0|             1|      147955.91|     1|[515.0,48.0,5.0,1...|
|  15566380|   Drury|        586|    Spain|Female| 33|    10| 66948.67|            2|        1|             1|      140759.03|     0|[586.0,33.0,10.0,...|
|  15566467|  Hannah|        683|  Germany|Female| 32|     0| 138171.1|            2|        1|             1|      188203.58|     0|[683.0,32.0,0.0,1...|
|  15566494|    Fang|        487|   France|  Male| 45|     2|      0.0|            2|        1|             0|       77475.73|     0|[487.0,45.0,2.0,0...|
+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+--------------------+
only showing top 20 rows

In [ ]:
#normalize
temp_select=df_feature.select(['CustomerId','Features', 'Exited'])
nor = MinMaxScaler(inputCol = 'Features' ,outputCol = 'Features_nor')
data_nor= nor.fit(temp_select).transform(temp_select)
data_nor.show()

+----------+--------------------+------+--------------------+
|CustomerId|            Features|Exited|        Features_nor|
+----------+--------------------+------+--------------------+
|  15565701|[698.0,39.0,9.0,1...|     0|[0.69600000000000...|
|  15565706|[612.0,35.0,1.0,0...|     1|[0.524,0.22972972...|
|  15565796|[745.0,48.0,10.0,...|     0|[0.79,0.405405405...|
|  15565806|[532.0,38.0,9.0,0...|     0|[0.364,0.27027027...|
|  15565878|[631.0,29.0,3.0,0...|     0|[0.562,0.14864864...|
|  15565879|[845.0,28.0,9.0,0...|     0|[0.99,0.135135135...|
|  15565996|[653.0,44.0,8.0,0...|     0|[0.606,0.35135135...|
|  15566030|[497.0,41.0,5.0,8...|     1|[0.294,0.31081081...|
|  15566091|[545.0,32.0,4.0,0...|     0|[0.39,0.189189189...|
|  15566111|[596.0,39.0,9.0,0...|     0|[0.492,0.28378378...|
|  15566139|[526.0,37.0,5.0,5...|     0|[0.352,0.25675675...|
|  15566251|[618.0,37.0,5.0,9...|     1|[0.536,0.25675675...|
|  15566253|[580.0,44.0,9.0,1...|     1|[0.46,0.351351351...|
|  15566269|[787.0,25.0,5.0,0...|     0|[0.874,0.09459459...|
|  15566295|[761.0,33.0,6.0,1...|     0|[0.82200000000000...|
|  15566312|[660.0,42.0,5.0,0...|     1|[0.62,0.324324324...|
|  15566378|[515.0,48.0,5.0,1...|     1|[0.33,0.405405405...|
|  15566380|[586.0,33.0,10.0,...|     0|[0.47200000000000...|
|  15566467|[683.0,32.0,0.0,1...|     0|[0.666,0.18918918...|
|  15566494|[487.0,45.0,2.0,0...|     0|[0.274,0.36486486...|
+----------+--------------------+------+--------------------+
only showing top 20 rows

In [ ]:
#設定多層分類器
from pyspark.ml.classification import MultilayerPerceptronClassifier
train = MultilayerPerceptronClassifier(featuresCol = 'Features_nor', 
labelCol = 'Exited',maxIter=100, layers=[8,28,66,88,2], blockSize=128, seed=1200)

# Evaluation Part

## Load private dataset, the same structure as public dataset

In [ ]:
df_private = spark.read.csv('public.csv',header=True,inferSchema=True)  # TA takes public dataset as example

## Do prediction with your PySpark model here

In [ ]:
#training
temp1 = train.fit(data_nor)
temp2 = temp1.evaluate(data_nor).predictions
model_pre= temp2.select('CustomerId','prediction')
model_pre.show()

+----------+----------+
|CustomerId|prediction|
+----------+----------+
|  15565701|       0.0|
|  15565706|       0.0|
|  15565796|       1.0|
|  15565806|       0.0|
|  15565878|       0.0|
|  15565879|       0.0|
|  15565996|       0.0|
|  15566030|       0.0|
|  15566091|       0.0|
|  15566111|       0.0|
|  15566139|       0.0|
|  15566251|       0.0|
|  15566253|       0.0|
|  15566269|       0.0|
|  15566295|       0.0|
|  15566312|       0.0|
|  15566378|       0.0|
|  15566380|       0.0|
|  15566467|       0.0|
|  15566494|       0.0|
+----------+----------+
only showing top 20 rows

## Print Your result as the following type

In [ ]:
df_private.select('CustomerId','Exited').show(5)

+----------+------+
|CustomerId|Exited|
+----------+------+
|  15565701|     0|
|  15565706|     1|
|  15565796|     0|
|  15565806|     0|
|  15565878|     0|
+----------+------+
only showing top 5 rows

## TA will use the following function to get your prediction result (f-1 score)

In [ ]:
#計算f1score(兩組數據差異)
from sklearn import metrics
import numpy as np
data_arr =  np.array(df_private.select('Exited').collect())
data_pre = np.array(model_pre.select(['prediction']).collect())
metrics.f1_score(data_arr,data_pre, average='micro')

0.850875